/* 
font-family: 'Nunito', sans-serif; 300, 400 600, 700, 800, 900
font-family: 'Merriweather', serif; 300, 400, 700, 900
font-family: 'Playfair Display', serif; 400, 700, 900
*/

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Playfair Display", serif;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div-left {
  background: #a8d0e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.left-main-text {
  color: #fafafa;
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 700;
}

.main-thin-text {
  font-weight: 400;
}

.left-sub-text {
  color: #fafafa;
  font-size: 1.35vw;
}

.div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1.5;
}

.div-right-top {
  height: 100%;
  background: #f76c6c;
}

.div-right-bottom {
  height: 100%;
  background: #24305e;
}

.white-line {
  margin: 20px 0;
  width: 17vw;
  height: 8px;
  background: #fafafa;
}
