/* 
font-family: 'Nunito', sans-serif; 300, 400 600, 700, 800, 900
font-family: 'Merriweather', serif; 300, 400, 700, 900
font-family: 'Playfair Display', serif; 400, 700, 900
font-family: 'Raleway', sans-serif;
*/

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Playfair Display", serif;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #222;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div-left {
  background: #0b0c10;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.left-main-wrapper {
  display: flex;
  flex-direction: column;
}

.left-main-text {
  font-style: italic;
  color: #fafafa;
  font-size: 4.25vw;
  line-height: 4.35vw;
  font-weight: 700;
}

.left-sub-text {
  margin-top: 24px;
  font-size: 0.85vw;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.main-thin-text {
  font-style: normal;
  font-weight: 400;
}

.navigation {
  position: absolute;
  text-align: right;
  font-size: 0.95vw;
  line-height: 1.85vh;
  right: 25px;
  top: calc(1.5vw + 46px);
  color: #fafafa;
}

.navigation div span {
  cursor: pointer;
}

.div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.div-right-top,
.div-right-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-right-top {
  height: 100%;
  background: #f76c6c;
}

.div-right-top-main-text,
.div-right-bottom-main-text {
  border: #fafafa solid 2px;
  padding: 12px 56px;
  letter-spacing: 0.175vw;
  color: #fafafa;
  font-size: 1.25vw;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  border: 1;
}

.div-right-bottom {
  height: 100%;
  background: #24305e;
}

.theme-div {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: row;
  width: 9.25vw;
  justify-content: space-between;
}

.baby-blue,
.red,
.navy-blue,
.green,
.black {
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
}

.baby-blue {
  background: #5ab9ea;
}

.red {
  background: #f76c6c;
}

.navy-blue {
  background: #24305e;
}

.green {
  background: #5cdb95;
}

.black {
  background: #0b0c10;
  pointer-events: none;
}

.theme-active {
  background: rgba(255, 255, 255, 0.25);
}

.text-logo {
  user-select: none;
  cursor: pointer;
  color: #fafafa;
  background: #0b0c10;
  line-height: 1vw;
  font-weight: 700;
  font-size: 1vw;
  position: fixed;
  margin-top: -25px;
  padding-top: 25px;
  padding-right: 12.5px;
  padding-bottom: 12.5px;
  z-index: 5;
  padding-left: 12.5px;
  margin-left: -12.5px;
  top: 25px;
  left: 25px;
}
