/* 
font-family: 'Nunito', sans-serif; 300, 400 600, 700, 800, 900
font-family: 'Merriweather', serif; 300, 400, 700, 900
font-family: 'Playfair Display', serif; 400, 700, 900
font-family: 'Raleway', sans-serif;
font-family: 'Domine', serif;
font-family: 'Titillium Web', sans-serif;
*/

html,
body {
  background: #fafafa;
  margin: 0;
  height: 100%;
  font-family: "Playfair Display", serif;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
}

/* DNA */
/*
.dna-loader {
  position: relative;
  width: 5vw;
  height: 14.05vw;
  margin-right: 25px;
}

.dna-loader div {
  position: absolute;
  left: 0;
  width: 0.35vw;
  height: 0.35vw;
  background: #55acee;
  border-radius: 20px;
  opacity: 0;
}

.dna-loader div:nth-child(35) {
  top: 26.25vh;
  background: #55acee;
  animation: dna_rotate 2s 3.5s infinite ease-in-out;
}

.dna-loader div:nth-child(34) {
  top: 25.5vh;
  background: #55acee;
  animation: dna_rotate 2s 3.4s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 4.4s infinite ease-in-out;
}

.dna-loader div:nth-child(33) {
  top: 24.75vh;
  background: #55acee;
  animation: dna_rotate 2s 3.3s infinite ease-in-out;
}

.dna-loader div:nth-child(32) {
  top: 24vh;
  background: #55acee;
  animation: dna_rotate 2s 3.2s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 4.2s infinite ease-in-out;
}

.dna-loader div:nth-child(31) {
  top: 23.25vh;
  background: #55acee;
  animation: dna_rotate 2s 3.1s infinite ease-in-out;
}

.dna-loader div:nth-child(30) {
  top: 22.5vh;
  background: #55acee;
  animation: dna_rotate 2s 3s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 4s infinite ease-in-out;
}

.dna-loader div:nth-child(29) {
  top: 21.75vh;
  background: #55acee;
  animation: dna_rotate 2s 2.9s infinite ease-in-out;
}

.dna-loader div:nth-child(28) {
  top: 21vh;
  background: #55acee;
  animation: dna_rotate 2s 2.8s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 3.8s infinite ease-in-out;
}

.dna-loader div:nth-child(27) {
  top: 20.25vh;
  background: #55acee;
  animation: dna_rotate 2s 2.7s infinite ease-in-out;
}

.dna-loader div:nth-child(26) {
  top: 19.5vh;
  background: #55acee;
  animation: dna_rotate 2s 2.6s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 3.6s infinite ease-in-out;
}

.dna-loader div:nth-child(25) {
  top: 18.75vh;
  background: #55acee;
  animation: dna_rotate 2s 2.5s infinite ease-in-out;
}

.dna-loader div:nth-child(24) {
  top: 18vh;
  background: #55acee;
  animation: dna_rotate 2s 2.4s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 3.4s infinite ease-in-out;
}

.dna-loader div:nth-child(23) {
  top: 17.25vh;
  background: #55acee;
  animation: dna_rotate 2s 2.3s infinite ease-in-out;
}

.dna-loader div:nth-child(22) {
  top: 16.5vh;
  background: #55acee;
  animation: dna_rotate 2s 2.2s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 3.2s infinite ease-in-out;
}

.dna-loader div:nth-child(21) {
  top: 15.75vh;
  background: #55acee;
  animation: dna_rotate 2s 2.1s infinite ease-in-out;
}

.dna-loader div:nth-child(20) {
  top: 15vh;
  background: #55acee;
  animation: dna_rotate 2s 2s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 3s infinite ease-in-out;
}

.dna-loader div:nth-child(19) {
  top: 14.25vh;
  background: #55acee;
  animation: dna_rotate 2s 1.9s infinite ease-in-out;
}

.dna-loader div:nth-child(18) {
  top: 13.5vh;
  background: #55acee;
  animation: dna_rotate 2s 1.8s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 2.8s infinite ease-in-out;
}

.dna-loader div:nth-child(17) {
  top: 12.75vh;
  background: #55acee;
  animation: dna_rotate 2s 1.7s infinite ease-in-out;
}

.dna-loader div:nth-child(16) {
  top: 12vh;
  background: #55acee;
  animation: dna_rotate 2s 1.6s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 2.6s infinite ease-in-out;
}

.dna-loader div:nth-child(15) {
  top: 11.25vh;
  background: #55acee;
  animation: dna_rotate 2s 1.5s infinite ease-in-out;
}

.dna-loader div:nth-child(14) {
  top: 10.5vh;
  background: #55acee;
  animation: dna_rotate 2s 1.4s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 2.4s infinite ease-in-out;
}

.dna-loader div:nth-child(13) {
  top: 9.75vh;
  background: #55acee;
  animation: dna_rotate 2s 1.3s infinite ease-in-out;
}

.dna-loader div:nth-child(12) {
  top: 9vh;
  background: #55acee;
  animation: dna_rotate 2s 1.2s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 2.2s infinite ease-in-out;
}

.dna-loader div:nth-child(11) {
  top: 8.25vh;
  background: #55acee;
  animation: dna_rotate 2s 1.1s infinite ease-in-out;
}

.dna-loader div:nth-child(10) {
  top: 7.5vh;
  background: #55acee;
  animation: dna_rotate 2s 1s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 2s infinite ease-in-out;
}

.dna-loader div:nth-child(9) {
  top: 6.75vh;
  background: #55acee;
  animation: dna_rotate 2s 0.9s infinite ease-in-out;
}

.dna-loader div:nth-child(8) {
  top: 6vh;
  background: #55acee;
  animation: dna_rotate 2s 0.8s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 1.8s infinite ease-in-out;
}

.dna-loader div:nth-child(7) {
  top: 5.25vh;
  background: #55acee;
  animation: dna_rotate 2s 0.7s infinite ease-in-out;
}

.dna-loader div:nth-child(6) {
  top: 4.5vh;
  background: #55acee;
  animation: dna_rotate 2s 0.6s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 1.6s infinite ease-in-out;
}

.dna-loader div:nth-child(5) {
  top: 3.75vh;
  background: #55acee;
  animation: dna_rotate 2s 0.5s infinite ease-in-out;
}

.dna-loader div:nth-child(4) {
  top: 3vh;
  background: #55acee;
  animation: dna_rotate 2s 0.4s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 1.4s infinite ease-in-out;
}

.dna-loader div:nth-child(3) {
  top: 2.25vh;
  background: #55acee;
  animation: dna_rotate 2s 0.3s infinite ease-in-out;
}

.dna-loader div:nth-child(2) {
  top: 1.5vh;
  background: #55acee;
  animation: dna_rotate 2s 0.2s infinite ease-in-out;
  background: #9266cc;
  animation: dna_rotate 2s 1.2s infinite ease-in-out;
}

.dna-loader div:nth-child(1) {
  top: 0.75vh;
  background: #55acee;
  animation: dna_rotate 2s 0.1s infinite ease-in-out;
}

@keyframes dna_rotate {
  0% {
    opacity: 1;
    transform: scale(1);
    left: 20%;
    z-index: 0;
  }

  25% {
    opacity: 1;
    transform: scale(1.75);
  }

  50% {
    opacity: 1;
    left: 80%;
    z-index: 1;
    box-shadow: 0 0 6px 3px rgba(146, 102, 204, 0.5);
    transform: scale(1);
  }

  75% {
    opacity: 1;
    transform: scale(0.25);
  }

  100% {
    opacity: 1;
    left: 20%;
    z-index: 0;
    transform: scale(1);
  }
}
*/

/* Regular */

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div-left {
  transition: background 1.5s ease-in-out;
  background: #0b0c10;
  color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.left-main-wrapper {
  display: flex;
  flex-direction: column;
}

.left-main-text {
  font-style: normal;
  color: #fafafa;
  font-size: 4.25vw;
  line-height: 4.35vw;
  font-weight: 700;
}

.main-thin-text {
  user-select: none;
  font-style: normal;
  font-weight: 400;
}

.left-sub-text {
  user-select: none;
  font-weight: 400;
  margin-top: 22px;
  font-size: 1vw;
}

/*
.left-sub-text::before {
  font-family: "Raleway", sans-serif;
  content: "+";
  font-weight: 500;
  font-size: 2.25vw;
  width: 20px;
  text-align: center;
  top: 11px;
  right: 11px;
  display: inline-block;
  position: relative;
  box-sizing: inherit;
  color: #f76c6c;
}
*/

.theme-div {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: row;
  width: 9.25vw;
  justify-content: space-between;
}

.baby-blue,
.red,
.navy-blue,
.green,
.black {
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
}

.baby-blue {
  background: #5ab9ea;
}

.red {
  background: #f76c6c;
}

.navy-blue {
  background: #24305e;
}

.green {
  background: #5cdb95;
}

.black {
  background: #0b0c10;
  pointer-events: none;
}

.theme-active {
  background: rgba(255, 255, 255, 0.25);
}

.text-logo {
  transition: background 1.5s ease-in-out;
  user-select: none;
  cursor: pointer;
  color: #fafafa;
  background: #0b0c10;
  line-height: 1vw;
  font-weight: 700;
  font-size: 1vw;
  position: fixed;
  margin-top: -25px;
  padding-top: 25px;
  padding-right: 12.5px;
  padding-bottom: 12.5px;
  z-index: 5;
  padding-left: 12.5px;
  margin-left: -12.5px;
  top: 25px;
  left: 25px;
}

.construction {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  font-size: 0.5vw;
  font-weight: 900;
  bottom: 25px;
  width: 100%;
  user-select: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

/* Experience */

.exp-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../assets/stripes-light.png);
  background-size: 210px;
}

.experience {
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 58vw;
}

.experience-header {
  margin-bottom: 2vw;
}

.experience-text {
  user-select: none;
  color: #0b0c10;
  font-family: "Domine", serif;
  font-size: 2.75vw;
  font-weight: 700;
}

.experience-sub {
  user-select: none;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  color: #eb1736;
  font-size: 0.8vw;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 0.75vw;
}

.experience-sub::before {
  content: "/";
  display: inline-block;
  right: 8px;
  color: #eb1736;
  font-weight: 700;
  position: relative;
  box-sizing: inherit;
}

.experience-list {
  display: flex;
  flex-direction: column;
}

/*.experience-item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background: #fff;
  height: 300px;
  width: 300px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.experience-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
*/

.experience-table {
  display: flex;
  flex-direction: column;
  width: 58vw;
}

.experience-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-item:not(:last-child) {
  margin-bottom: 6px;
}

.exp-item-header {
  user-select: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.55vw;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #0b0c1057;
}

.company-label1,
.company-label2 {
  flex: 0.3;
}

.company-label3,
.company-label4 {
  flex: 0.12;
}

.experience-date {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.82vw;
  font-weight: 400;
  flex: 0.12;
  color: #0b0c10;
  user-select: none;
}

.experience-company {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.82vw;
  font-weight: 400;
  position: relative;
  flex: 0.3;
  color: #0b0c10;
}

.experience-company a {
  display: inline-block;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.82vw;
  font-weight: 400;
  text-decoration: none;
  color: #0b0c10;
}

.link-animation a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #eb1736;
  transition: width .2s;
}

.link-animation a:hover::after {
  width: 100%;
}

.exp-plus::before {
  content: "+";
  display: inline-block;
  left: -18px;
  top: -1.25px;
  color: #eb1736;
  font-weight: 700;
  position: absolute;
  box-sizing: inherit;
}

.experience-description {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.82vw;
  font-weight: 400;
  flex: 0.3;
  color: #0b0c10;
  user-select: none;
}

/* Education */

.education-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #0b0c10;
}

.education {
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 58vw;
}

.education-header {
  margin-bottom: 2vw;
}

.education-text {
  user-select: none;
  color: #fafafa;
  font-family: "Domine", serif;
  font-size: 2.75vw;
  font-weight: 700;
}

.education-sub {
  user-select: none;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  color: #eb1736;
  font-size: 0.8vw;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 0.75vw;
}

.education-sub::before {
  content: "/";
  display: inline-block;
  right: 8px;
  color: #eb1736;
  font-weight: 700;
  position: relative;
  box-sizing: inherit;
}